<template>
  <div>
    <div>
      <div class="flex items-center justify-center gap-4">
        <div class="flex gap-2 flex-wrap">
          <div class="flex border">
            <label for="startDate" class="font-semibold bg-gray-200 px-4 py-2"
              >Start Date</label
            >
            <input
              type="date"
              id="startDate"
              v-model="startDate"
              class="outline-none px-2"
              placeholder="Start Date "
            />
          </div>
          <div class="flex border">
            <input
              type="date"
              id="endDate"
              v-model="endDate"
              class="outline-non px-2"
              placeholder="Start Date "
            />
            <label for="endDate" class="font-semibold bg-gray-200 px-4 py-2"
              >End Date</label
            >
          </div>
        </div>
        <div>
          <div
            @click="handleOpenReport"
            class="py-2 px-4 font-semibold bg-indigo-500 text-white cursor-pointer transition-all ease-out duration-300 hover:bg-indigo-700"
          >
            {{ t("filter_by_date") }}
          </div>
        </div>
      </div>
    </div>
    <br />
    <component
      :is="currentComponent"
      v-model="visibleComponent"
      :start="startDate"
      :end="endDate"
      @close="handleClose"
    ></component>
  </div>
</template>

<script setup>
import { ref, defineAsyncComponent, shallowRef, watch } from "vue";
import moment from "moment";
import { useI18n } from "vue-i18n";

// useLang
const { t } = useI18n();

// dynamic component
const ReportComponent = defineAsyncComponent(() =>
  import("../Reports/reportComponent.vue")
);

// declare
const startDate = ref(moment().format("YYYY-MM-DD"));
const endDate = ref(moment().format("YYYY-MM-DD"));
const currentComponent = shallowRef(null);
const visibleComponent = ref(false);

// functions
const handleOpenReport = () => {
  handleClose();
  visibleComponent.value = true;
  currentComponent.value = ReportComponent;
};

const handleClose = () => {
  visibleComponent.value = false;
  currentComponent.value = null;
};
</script>

<style lang="scss" scoped></style>
