<template>
  <div>
    <div class="flex justify-center">
      <table class="w-[80%] border">
        <thead class="text-left">
          <tr>
            <th class="bg-yellow-500 px-3 font-semibold capitalize">admin</th>
            <th class="bg-yellow-500 px-3 font-semibold capitalize">ustomer</th>
            <th class="bg-yellow-500 font-semibold capitalize">date</th>
            <th class="bg-yellow-500 px-3 font-semibold capitalize">payment</th>
            <th class="bg-yellow-500 px-3 font-semibold capitalize">Print</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(report, idx) in reports" :key="idx">
            <td class="px-3">{{ report.admin }}</td>
            <td class="px-3">{{ report.customerInfo[0].name }}</td>
            <td class="">
              <div>
                <span class="text-indigo-600">
                  {{ "Tel." + " " + report.customerInfo[0].telegram }}
                </span>
                {{
                  date(report.created.toDate()).format("dddd, Do, MMM, YYYY")
                }}
              </div>
            </td>
            <td class="px-3">
              <div class="flex gap-3">
                <br />
                <div
                  class="bg-amber-500 capitalize scale-75 text-white px-2 rounded-lg"
                >
                  {{ report.paymentType }}
                </div>
                <div>{{ report.paymentId }}</div>
              </div>
            </td>
            <td class="px-3 text-center text-indigo-600">
              <button class="p-1">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0 1 10.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0 .229 2.523a1.125 1.125 0 0 1-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0 0 21 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 0 0-1.913-.247M6.34 18H5.25A2.25 2.25 0 0 1 3 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 0 1 1.913-.247m10.5 0a48.536 48.536 0 0 0-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5Zm-3 0h.008v.008H15V10.5Z"
                  />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script setup>
import { Timestamp } from "firebase/firestore";
import getCollection from "../composables/getCollection";
import { ref, watch } from "vue";
import moment from "moment";
const date = moment;

// props and emits
const props = defineProps({
  start: Date,
  end: Date,
});

// convert date->serverTimeStamp
const start_date = Timestamp.fromDate(new Date(props.start));
const end_date = Timestamp.fromDate(new Date(props.end));
const { documents: reports, isLoading } = getCollection("reports", {
  start_date,
  end_date,
});
</script>

<style lang="scss" scoped></style>
