<template>
  <div class="fixed inset-0 bg-black bg-opacity-75 w-full h-[100vh]">
    <div class="w-full h-[100vh] flex justify-center items-center">
      <div class="bg-white w-[600px] h-auto rounded-lg p-6 px-10">
        <div class="flex justify-between font-medium text-indigo-500">
          <span>{{ props.getId ? "Update Product" : "Create Product" }}</span>
          <button
            @click="handleCloseModal"
            class="p-1 px-2 rounded-md transition duration-200 border-2 hover:bg-gray-100"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6 text-black"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
        <br />
        <div class="flex flex-col gap-3">
          <div class="flex items-center gap-2">
            <label for="pname" class="text-nowrap w-[30%]">Product Name</label>
            <input
              id="pname"
              type="text"
              v-model="form.pname"
              placeholder="Product Name"
              class="w-full border-2 focus:border-indigo-600 outline-none border-gray-300 rounded-lg px-2 py-1"
            />
          </div>
          <div class="flex items-center gap-2">
            <label for="des" class="text-nowrap w-[30%]">Description</label>
            <input
              id="des"
              type="text"
              v-model="form.description"
              placeholder="Description"
              class="w-full border-2 focus:border-indigo-600 outline-none border-gray-300 rounded-lg px-2 py-1"
            />
          </div>
          <div class="flex items-center gap-2">
            <label for="price" class="text-nowrap w-[30%]">Price</label>
            <input
              id="price"
              type="number"
              v-model="form.price"
              placeholder="Price"
              class="w-full border-2 focus:border-indigo-600 outline-none border-gray-300 rounded-lg px-2 py-1"
            />
          </div>
          <div class="flex items-center gap-2">
            <label for="dis" class="text-nowrap w-[30%]">Discount</label>
            <input
              type="number"
              id="dis"
              v-model="form.discount"
              placeholder="Discount"
              class="w-full border-2 focus:border-indigo-600 outline-none border-gray-300 rounded-lg px-2 py-1"
            />
          </div>
          <div class="flex items-center gap-2">
            <label for="size" class="text-nowrap w-[30%]">Size</label>
            <input
              @keyup.space="handlePushSize"
              type="number"
              id="size"
              v-model="size"
              placeholder="Size & Enter"
              class="w-full border-2 focus:border-indigo-600 outline-none border-gray-300 rounded-lg px-2 py-1"
            />
          </div>
          <div v-show="form.sizes.length" class="flex gap-2 justify-end pt-1">
            <div
              v-for="(it, idx) in form.sizes"
              class="bg-indigo-500 relative text-white px-2 rounded-md"
              :key="idx"
            >
              {{ it }}
              <div
                @click="handleRemoveSize(idx)"
                class="absolute pb-1 scale-50 cursor-pointer text-white -top-5 -right-3 bg-red-500 px-2 rounded-3xl"
              >
                x
              </div>
            </div>
          </div>
          <div class="flex items-center gap-2">
            <label for="file" class="text-nowrap w-[30%]">Choose File</label>
            <input
              type="file"
              id="file"
              placeholder="Size"
              @change="handleOnChanges"
              class="w-full border-2 focus:border-indigo-600 outline-none border-gray-300 rounded-lg px-2 py-1"
            />
          </div>
          <div class="flex justify-end gap-3 text-indigo-600 font-normal">
            <div
              @click="handleRemoveImage(idx)"
              class="relative border-2 border-white transition duration-200 rounded-lg px-2 cursor-pointer hover:border-red-300"
              v-for="(it, idx) in imageNames"
              :key="idx"
            >
              {{ it.ImgName }},,
            </div>
          </div>
          <div
            v-show="getError"
            class="text-center text-red-400 flex justify-center gap-2"
          >
            <div>{{ getError }}</div>
          </div>
        </div>
        <div class="flex justify-end py-2 pt-4">
          <button
            v-if="!isLoading"
            @click="handleSubmite"
            class="bg-indigo-600 text-white px-4 rounded-lg py-1 transition duration-200 hover:bg-indigo-700"
          >
            {{ label }}
          </button>
          <button
            v-else
            class="bg-indigo-600 text-white px-4 rounded-lg py-1 transition duration-200 hover:bg-indigo-700"
          >
            Loading...
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, watch } from "vue";
import useCollection from "../composables/useCollection";
import getOneCollection from "../composables/getOneCollection";
import {
  handleUploadImage,
  getUrl,
  handleDeleteImage,
} from "../composables/useStorage";
import { useRoute } from "vue-router";
import { getId } from "firebase/installations";

// useRoute
const route = useRoute();

// useComposable
const { handleAddDoc, handleUpdateDoc, handleSetDoc } =
  useCollection("products");
const { handleFindOneDoc, documents } = getOneCollection("products");

// emits and props
const emits = defineEmits(["close"]);
const props = defineProps({
  getId: String,
  label: String,
});

// declare
const getUpdateUrl = ref([]);
const arrBoxImages = ref([]);

const isLoading = ref(false);
const size = ref(0);
const selected = ref([]);
const imageNames = ref([]);
const getError = ref("");
const limitedSize = ref(1024 * 1024);
const type = ref(["image/jpeg", "image/png", "image/jpg", "image/svg"]);

const form = ref({
  pname: "",
  description: "",
  price: 0,
  discount: 0,
  sizes: [],
  images: [],
});

// funtions
const handleResetForm = () => {
  form.value.pname = "";
  form.value.description = "";
  form.value.price = 0;
  form.value.discount = 0;
  form.value.sizes = [];
  form.value.images = [];
  imageNames.value = [];
};

const handleOnChanges = (e) => {
  selected.value = e.target.files[0];
  if (selected.value.size > limitedSize.value) {
    getError.value = "image <= 1MB";
    selected.value = null;
  } else {
    if (selected.value && type.value.includes(selected.value.type)) {
      imageNames.value.unshift({ ImgName: selected.value.name });
      if (!props.getId) {
        form.value.images.unshift(selected.value);
      } else {
        arrBoxImages.value.unshift(selected.value);
      }
    } else {
      getError.value = "TYPES ALLOW JPEG JPG PNG SVG";
      selected.value = null;
      setTimeout(() => {
        getError.value = "";
      }, 1000);
    }
  }
};

const handlePushSize = () => {
  if (size.value > 0) {
    form.value.sizes.push(size.value);
    size.value = "";
    getError.value = "";
  } else {
    if (size.value < 0) {
      getError.value = "Size must be great than 0";
    } else {
      getError.value = "Size is required!";
    }
  }
};

const handleRemoveSize = (id) => {
  form.value.sizes.splice(id, 1);
};

const handleRemoveImage = (id) => {
  imageNames.value.splice(id, 1);
  if (!props.getId) {
    form.value.images.splice(id, 1);
  } else {
    arrBoxImages.value.splice(id, 1);
  }
};

const handleCloseModal = async () => {
  emits("close");
};

const handleSubmite = async () => {
  isLoading.value = true;
  if (
    (form.value.images.length > 0 && form.value.sizes.length > 0) ||
    arrBoxImages.value.length > 0
  ) {
    if (props.getId) {
      //***Update Product***
      for (let i in arrBoxImages.value) {
        const res = await handleUploadImage(arrBoxImages.value[i]);
        if (res) {
          arrBoxImages.value[i] = getUrl.value;
        }
      }
      for (let j in form.value.images) {
        const trash = await handleDeleteImage(form.value.images[j]);
        if (trash) {
          console.log(trash, "deleted");
        }
      }
      const res = await handleSetDoc(props.getId, {
        pname: form.value.pname,
        description: form.value.description,
        price: form.value.price,
        discount: form.value.discount,
        sizes: form.value.sizes,
        images: arrBoxImages.value,
        categoryId: route.params.id,
      });
      if (res) {
        handleResetForm();
        handleCloseModal();
        isLoading.value = false;
      }
    } else {
      //***Insert Product***
      for (let i in form.value.images) {
        await handleUploadImage(form.value.images[i]);
        form.value.images[i] = getUrl.value;
      }
      const res = await handleAddDoc({
        ...form.value,
        categoryId: route.params.id,
      });
      if (res) {
        handleResetForm();
        handleCloseModal();
        isLoading.value = false;
      }
    }
  } else {
    isLoading.value = false;
    getError.value = "Please input value in each field";
  }
};

watch(
  () => props.getId,
  async (val) => {
    if (val) {
      await handleFindOneDoc(val);
      form.value = documents.value;
    }
  },
  { immediate: true }
);
</script>

<style lang="scss" scoped></style>
