<template>
  <div>
    <div
      class="font-semibold text-gray-600 text-lg pb-6 px-2 lg:px-0 xl:px-0 md:px-2"
    >
      Shopping Carts
      <span class="text-yellow-600">{{ documents?.length }} </span>
    </div>
    <div
      class="text-gray-600 text-lg lg:flex xl:flex gap-4 xl:px-0 lg:px-0 px-2 flex-row-reverse w-full"
    >
      <div
        class="w-full xl:w-[30%] lg:w-[30%] md:w-[100%] sm:w-[100%] rounded-md pb-2"
      >
        <div class="rounded-lg p-4 border shadow">
          <div v-if="pieces > 0">
            <div class="flex justify-between">
              <p>{{ pieces + " " + "Pieces" }}</p>
              <p>{{ total.toFixed(2) }}</p>
            </div>
          </div>
          <div v-if="pieces > 0">
            <div v-if="pieces >= 3" class="flex justify-between">
              <p>Free Shipping</p>
              <p>$0.00</p>
            </div>
            <div v-else class="flex justify-between">
              <p>Shipping</p>
              <p>${{ shipping }}</p>
            </div>
          </div>
          <div class="border my-2"></div>
          <div v-if="pieces > 0">
            <div class="flex justify-between">
              <p>Order Amount:</p>
              <div v-if="pieces && pieces >= 3">${{ total.toFixed(2) }}</div>
              <div v-else>{{ (total + shipping).toFixed(2) }}</div>
            </div>
          </div>
          <br />
          <div class="flex">
            <button
              @click="handlePrintInvoice"
              class="w-full py-1 bg-indigo-500 text-white rounded-md border transition ease-out duration-300 hover:bg-indigo-600 hover:text-white"
            >
              Order Now
            </button>
          </div>
        </div>
      </div>
      <div class="w-full xl:w-[70%] lg:w-[70%] md:w-[100%] sm:w-[100%]">
        <div v-for="(items, idx) in documents" :key="idx">
          <cart :items="items" @event-order="handleOrderItem"></cart>
        </div>
      </div>
    </div>
    <transition>
      <component
        :is="currentComponent"
        v-model="visibleComponent"
        @close="handleModalClose"
        :userInfo="userInfo"
        :order="orderItem"
        :shipping="shipping"
        :cartId="cartId"
      ></component>
    </transition>
  </div>
</template>

<script setup>
import { ref, defineAsyncComponent, shallowRef } from "vue";
import Cart from "../components/Cart.vue";
import getCollection from "../composables/getCollection";
import getUserDoc from "../composables/getUserDoc";

// lazy Componen
const PrintInvoice = defineAsyncComponent(() =>
  import("../components/PrintInvoice.vue")
);

// Destructing
const { documents, isLoading } = getCollection("carts");
const { userDoc, isLoading_user } = getUserDoc("users");

// Declare
const currentComponent = shallowRef(null);
const visibleComponent = ref(false);
const pieces = ref(0);
const shipping = ref(2);
const total = ref(0);
const orderItem = ref([]);
const userInfo = ref({});
const cartId = ref("");

// Functions
const handleOrderItem = (order, getCartId) => {
  cartId.value = getCartId;
  orderItem.value.push(order);
  pieces.value = orderItem.value.length;
  total.value += order.price * order.qty;
};

const handlePrintInvoice = () => {
  userInfo.value = userDoc.value;
  orderItem.value = orderItem.value.filter(
    (order) => order.size && order.image && order.qty > 0
  );
  if (orderItem.value.length > 0) {
    visibleComponent.value = true;
    currentComponent.value = PrintInvoice;
  }
};

const handleModalClose = () => {
  visibleComponent.value = false;
  currentComponent.value = null;
};
</script>

<style scoped>
.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
</style>
