<template>
  <div>
    <div class="xl:px-36 lg:px-36 px-4 py-2">
      <div
        class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-1 gap-4"
      >
        <div
          class="border-2 cursor-pointer rounded-md p-2 transition duration-200 hover:shadow-lg"
          v-for="(it, idx) in documents"
          :key="idx"
        >
          <div class="rounded-md h-[200px]">
            <img
              :src="it.image"
              alt=""
              class="rounded-md h-[200px] w-[100%] object-cover"
            />
          </div>
          <div
            class="text-sm flex justify-between text-center pt-4 font-normal"
          >
            <span class="text-indigo-600 font-medium">{{ it.name }}</span>
            <button
              @click="handleRemove(it)"
              class="text-red-500 hover:text-red-800 font-medium px-2 py-1 rounded"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <Transition>
    <component
      :is="currentComponent"
      v-model="visibleComponent"
      @close="handleCloseModal"
      @remove="handleTrash"
    >
    </component>
  </Transition>
</template>

<script setup>
import { ref, defineAsyncComponent, shallowRef } from "vue";
import getCollection from "../composables/getCollection";
import useCollection from "../composables/useCollection";
import { handleDeleteImage } from "../composables/useStorage";
import { getUser } from "../composables/getUserCollection";

// Destructing
const { handleRemoveDoc: RemoveCategory } = useCollection("categories");
const { handleRemoveDoc: RemoveCart } = useCollection("carts");
const { handleRemoveDoc: RemoveProduct } = useCollection("products");
const { documents: products } = getCollection("products");
const { documents: categories } = getCollection("categories");
const { documents: carts } = getCollection("carts");

// Declare
const getCat = ref(null);
const currentComponent = shallowRef(null);
const visibleComponent = ref(false);

// Dynamic Component
const DeleteComponent = defineAsyncComponent(() =>
  import("../components/DeleteCategoryConfirmation.vue")
);

// Destructing
const { documents, isLoading } = getCollection("categories");

// Functions
const handleRemove = (it) => {
  getCat.value = it;
  console.log(getCat.value);
  visibleComponent.value = true;
  currentComponent.value = DeleteComponent;
};

const handleTrash = async () => {
  products.value?.forEach(async (el) => {
    if (getCat.value?.id == el.categoryId) {
      for (let x of el.images) {
        handleDeleteImage(el.images[x]);
      }
      await RemoveProduct(el.id);
    }
  });

  carts.value?.forEach(async (it) => {
    if (getCat.value?.id == it.categoryId) {
      for (let x of it.images) {
        handleDeleteImage(it.images[x]);
      }
      await RemoveCart(it.id);
    }
  });

  await RemoveCategory(getCat.value?.id);
  await handleDeleteImage(getCat.value?.image);
};

const handleCloseModal = () => {
  currentComponent.value = null;
  visibleComponent.value = false;
  showId.value = null;
};
</script>

<style scoped>
.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
</style>
