<template>
  <div>
    <div>
      <list-product></list-product>
    </div>
  </div>
</template>

<script setup>
import { ref, watch } from "vue";
import ListProduct from "./ListProduct.vue";
</script>

<style lang="scss" scoped></style>
