<template>
  <div>
    <div class="flex justify-center">
      <div class="w-[100%] py-3 rounded-lg">
        <div
          class="my-2 p-2 bg-red-50 rounded-lg"
          v-for="(it, idx) in documents"
          :key="idx"
        >
          <div>{{ it.title }}</div>
          <div>{{ it.content }}</div>
          <div class="flex justify-between">
            <div class="bg-green-600 px-2 rounded-lg text-white">
              {{ it.price + "$" }}
            </div>
            <div class="flex gap-3 items-center">
              <div
                @click="handleFindOnePost(it.id)"
                class="bg-indigo-600 text-white p-1 rounded-lg cursor-pointer hover:bg-indigo-800 duration-300"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"
                  />
                </svg>
              </div>
              <div
                @click="handleRemovePost(it.id)"
                class="bg-indigo-600 text-white p-1 rounded-lg cursor-pointer hover:bg-indigo-800 duration-300"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import getCollection from "../composables/getCollection";
import useCollection from "../composables/useCollection";
import { useRoute, useRouter } from "vue-router";

const router = useRouter();
const route = useRoute();

const { documents, isLoading } = getCollection("posts");
const { handleRemoveDoc } = useCollection("posts");

// functions
const handleRemovePost = async (id) => {
  await handleRemoveDoc(id);
};

const handleFindOnePost = async (id) => {
  router.push({ name: "postId", params: { id: id } });
};
</script>

<style lang="scss" scoped></style>
