<template>
  <div>
    <div class="flex justify-between px-14 lg:px-36 md:px-28 pb-4 pt-2">
      <div class="text-lg font-semibold text-gray-600">List Product</div>
      <div>
        <button
          @click="handleAddProductForm"
          class="border-2 transition duration-200 hover:bg-gray-100 hover:text-gray-600 px-3 py-1 rounded-lg"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 4.5v15m7.5-7.5h-15"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="flex justify-center">
      <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 gap-4">
        <div
          v-for="(it, idx) in documents"
          :key="idx"
          v-show="idx >= previous && idx < nextValue"
          class="w-[250px]"
        >
          <div
            class="border-2 rounded-md p-3 transition duration-200 hover:border-indigo-300 cursor-pointer"
          >
            <div class="w-[auto] h-[200px] relative -z-10">
              <img
                :src="it.images[0]"
                alt=""
                class="rounded-lg w-[100%] h-[200px] object-cover"
              />
              <div
                class="absolute top-0 bg-red-600 text-white px-2 text-sm rounded-2xl bg-opacity-50"
              >
                {{ it.discount + "% " + "OFF" }}
              </div>
            </div>
            <div>
              <div class="font-bold pt-2 text-gray-600">{{ it.pname }}</div>
              <!-- <div>Lorem ipsum !</div> -->
              <div class="flex gap-3">
                <div v-for="(s, idx) in it.sizes" :key="idx">{{ s }}</div>
              </div>
              <div class="text-sm text-indigo-500">In Stock</div>
              <div class="flex gap-2">
                <button
                  class="text-sm font-semibold transition duration-200 hover:text-indigo-600 text-indigo-400"
                  @click="handleEdit(it.id)"
                >
                  Edit
                </button>
                <button
                  class="text-sm font-semibold transition duration-200 hover:text-red-600 text-red-400"
                  @click="handleRemove(it)"
                >
                  Remove
                </button>
              </div>
              <div class="flex justify-between">
                <div class="flex gap-2">
                  <div class="font-semibold text-red-400 line-through">
                    {{ formatCurrency(it.price, "USD") }}
                  </div>
                  <div class="font-semibold text-green-600">
                    {{
                      formatCurrency(
                        it.price - (it.price * it.discount) / 100,
                        "USD"
                      )
                    }}
                  </div>
                </div>
                <div>
                  <button @click="handleAddToCart(it)">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6 text-indigo-500"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                      />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <pagination-btn
        :products="documents"
        @event-page="handlePagination"
      ></pagination-btn>
    </div>
    <div>
      <Transition>
        <component
          :label="label"
          :getId="getId"
          :is="CurrentComponent"
          v-model="visibleComponent"
          @close="handleCloseModal"
          @remove="handleRemoveConfirm"
        ></component>
      </Transition>
    </div>
  </div>
</template>

<script setup>
import { ref, defineAsyncComponent, shallowRef, watch } from "vue";
import { useRoute } from "vue-router";
import getMultipleCollection from "../composables/getMultipleCollection";
import useCollection from "../composables/useCollection";
import PaginationBtn from "../components/PaginationBtn.vue";
import { handleDeleteImage } from "../composables/useStorage";

// useFormatCurrency
import { formatCurrency } from "../composables/useCurrency";
import { getUser } from "../composables/getUserCollection";
import { serverTimestamp } from "firebase/firestore";

// useRoute
const route = useRoute();

// Destructing
const { handleFindMultipleDoc, documents } = getMultipleCollection("products");
const { handleRemoveDoc } = useCollection("products");
const { handleAddDoc, loading } = useCollection("carts");

// Declare
const Loading = ref(false);
const label = ref("Create");
const getId = ref("");
const getOneDoc = ref({});
const CurrentComponent = shallowRef(null);
const visibleComponent = ref(false);

// Dynamic Component
const AddProductForm = defineAsyncComponent(() =>
  import("../pages/AddProduct.vue")
);
const ConfirmMation = defineAsyncComponent(() =>
  import("../components/ConfirmMation.vue")
);

// funtions
const previous = ref(0);
const nextValue = ref(4);

const handleAddToCart = async (product) => {
  if (!getUser.value) {
    router.push({ name: "Signin" });
  } else {
    const res = await handleAddDoc({
      pname: product.pname,
      sizes: product.sizes,
      images: product.images,
      discount: product.discount,
      description: product.description,
      categoryId: product.categoryId,
      price: product.price,
      created: serverTimestamp(),
    });
    if (res) {
      console.log("successed");
    }
  }
};

const handlePagination = (pre, next) => {
  previous.value = pre;
  nextValue.value = next;
};

const handleAddProductForm = () => {
  visibleComponent.value = true;
  CurrentComponent.value = AddProductForm;
};

const handleCloseModal = async () => {
  label.value = "Create";
  getId.value = "";
  visibleComponent.value = false;
  CurrentComponent.value = null;
  await handleFetchCategoryViaId(route.params.id);
};

const handleEdit = (id) => {
  label.value = "Update";
  getId.value = id;
  visibleComponent.value = true;
  CurrentComponent.value = AddProductForm;
};

const handleRemove = (it) => {
  getOneDoc.value = it;
  visibleComponent.value = true;
  CurrentComponent.value = ConfirmMation;
};

const handleRemoveConfirm = async () => {
  Loading.value = true;
  if (getOneDoc.value.images.length > 0) {
    for (let i of getOneDoc.value.images) {
      await handleDeleteImage(i);
    }
  }
  const res = await handleRemoveDoc(getOneDoc.value.id);
  if (res) {
    await handleCloseModal();
    Loading.value = false;
  }
};

const handleFetchCategoryViaId = async (id) => {
  await handleFindMultipleDoc("categoryId", id);
};

watch(
  () => route.params.id,
  async (val) => {
    if (val) {
      await handleFetchCategoryViaId(val);
    }
  },
  { immediate: true }
);
</script>

<style scoped>
.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
</style>
