<template>
  <div>
    <div class="flex justify-center">
      <div
        class="w-[30%] border-2 px-6 py-6 rounded-lg flex flex-col gap-4 text-center"
      >
        <div>
          <input
            v-model="form.title"
            placeholder="Title"
            type="text"
            class="border-2 w-[100%] px-2 py-1 outline-none rounded-md"
          />
        </div>
        <div>
          <textarea
            v-model="form.content"
            placeholder="content"
            class="border-2 w-[100%] px-2 py-1 outline-none rounded-md"
          ></textarea>
        </div>
        <div>
          <input
            v-model="form.price"
            placeholder="price"
            type="number"
            class="border-2 w-[100%] px-2 py-1 outline-none rounded-md"
          />
        </div>
        <div class="flex justify-end">
          <button
            @click="handleSubmit"
            class="bg-indigo-600 text-white px-2 py-1 duration-300 transition rounded-lg hover:bg-indigo-500"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import useCollection from "../composables/useCollection";

import getOneCollection from "../composables/getOneCollection";

const router = useRouter();
const route = useRoute();

const { handleFindOneDoc, documents } = getOneCollection("posts");
const { handleAddDoc, handleUpdateDoc } = useCollection("posts");

const form = ref({
  title: "",
  content: "",
  price: 0,
});
const resetForm = () => {
  form.value.title = "";
  form.value.content = "";
  form.value.price = 0;
};
const handleSubmit = async () => {
  if (!route.params.id) {
    await handleAddDoc({
      title: form.value.title,
      content: form.value.content,
      price: form.value.price,
    });
  } else {
    await handleUpdateDoc(route.params.id, form.value);
  }
  router.push({ name: "Home" });
  resetForm();
};

watch(
  () => route.params.id,
  async (val) => {
    if (val) {
      await handleFindOneDoc(val);
      form.value = documents.value;
    }
  },
  { immediate: true }
);
</script>
<style lang="scss" scoped></style>
