<template>
  <div>
    <div class="rounded-lg">
      <div class="mb-3 cursor-pointer">
        <div
          class="w-full shadow lg:flex xl:flex md:flex p-2 rounded-lg border"
        >
          <div class="xl:w-[30%] lg:w-[30%] md:w-[30%]">
            <div
              class="w-auto relative h-[200px] border rounded-lg overflow-hidden"
            >
              <img
                :src="ImgUrl ? ImgUrl : items.images[0]"
                alt="cart.jpg"
                class="h-[200px] w-full transition ease-out duration-300 hover:scale-110 object-cover rounded-md"
              />
              <span
                class="absolute top-2 right-4 bg-opacity-60 rounded-lg bg-red-500 text-white px-2 text-sm"
              >
                {{ items.discount + " " + "OFF" }}
              </span>
            </div>
          </div>
          <div
            class="xl:w-[70%] lg:w-[70%] md:w-[70%] xl:px-6 lg:px-6 md:px-6 pt-2 xl:pt-0 lg:pt-0 md:pt-0 text-gray-500"
          >
            <div class="text-lg font-semibold">{{ items.pname }}</div>
            <div class="text-sm">info : {{ items.description }}</div>
            <div class="flex-col flex gap-2 py-2">
              <div class="flex gap-3 text-sm">
                <div class="text-red-400 font-semibold line-through">
                  {{ formatCurrency(items.price, "USD") }}
                </div>
                <div class="text-indigo-400 font-semibold">
                  {{
                    formatCurrency(
                      items.price - (items.price * items.discount) / 100,
                      "USD"
                    )
                  }}
                </div>
              </div>
              <div class="flex">
                <div class="flex justify-start items-center gap-3">
                  <button
                    @click="handleDnc"
                    :disabled="qty < 1"
                    :class="
                      qty < 1
                        ? 'bg-gray-200 cursor-not-allowed'
                        : 'duration-300 ease-out active:bg-gray-300'
                    "
                    class="bg-gray-200 rounded-full p-1"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-4"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M5 12h14"
                      />
                    </svg>
                  </button>
                  <input
                    class="w-[20%] px-2 text-center rounded-md outline-none border-2"
                    type="number"
                    v-model.number="qty"
                    @input="handleQty(items)"
                  />
                  <button
                    @click="handleInc"
                    class="bg-gray-200 duration-300 ease-out active:bg-gray-300 rounded-full p-1"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-4"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 4.5v15m7.5-7.5h-15"
                      />
                    </svg>
                  </button>
                </div>
              </div>
              <div class="flex gap-2">
                <div v-for="(size, idSize) in items.sizes" :key="idSize">
                  <span
                    @click="handleActiveSize(size, idSize, items)"
                    :class="
                      activeIndexSize === idSize
                        ? 'bg-indigo-600 text-white'
                        : 'bg-amber-50'
                    "
                    class="px-2 rounded-full shadow text-sm font-semibold"
                  >
                    {{ size }}
                  </span>
                </div>
              </div>
              <div
                class="flex justify-between flex-col xl:flex-row lg:flex-row items-center gap-4"
              >
                <div class="flex gap-3">
                  <div
                    v-for="(img, idImg) in items.images"
                    :key="idImg"
                    :class="
                      activeIndexImg === idImg ? 'border-indigo-500' : 'border'
                    "
                    class="border-2 rounded-full"
                  >
                    <img
                      @click="handleChangeImg(img, idImg, items)"
                      alt="img"
                      :src="img"
                      class="w-8 h-8 object-cover rounded-full"
                    />
                  </div>
                </div>
                <div
                  v-if="total > 0 && qty > 0"
                  class="text-sm font-semibold text-white px-2 rounded-lg bg-indigo-500"
                >
                  Total : {{ formatCurrency(total, "USD") }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { formatCurrency } from "../composables/useCurrency";
import { ref, watch } from "vue";

// defineProps & defineEmits
const prop = defineProps({
  items: Object,
});

const emits = defineEmits(["event-order"]);

// declare
const ImgUrl = ref("");
const activeIndexImg = ref(null);
const activeIndexSize = ref(null);
const qty = ref(0);
const total = ref(0);
const getSize = ref(0);

// functions

const handleInc = () => {
  qty.value++;
};

const handleDnc = () => {
  qty.value--;
};

const handleChangeImg = (img, idImg, item) => {
  ImgUrl.value = img;
  activeIndexImg.value = idImg;
  if (
    qty.value > 0 &&
    activeIndexImg.value != null &&
    activeIndexSize.value != null
  ) {
    handleSumTotal(item);
  }
};

const handleActiveSize = (size, idx, item) => {
  activeIndexSize.value = idx;
  getSize.value = size;
  if (
    qty.value > 0 &&
    activeIndexImg.value != null &&
    activeIndexSize.value != null
  ) {
    handleSumTotal(item);
  }
};

const handleQty = (item) => {
  if (
    qty.value > 0 &&
    activeIndexImg.value != null &&
    activeIndexSize.value != null
  ) {
    handleSumTotal(item);
  }
};

const handleSumTotal = (item) => {
  const price = item.price - (item.price * item.discount) / 100;
  total.value = price * qty.value;
  const orderItem = {
    id: item.id,
    name: item.pname,
    description: item.description,
    price: price,
    qty: qty.value,
    size: getSize.value,
    discount: item.discount,
    image: ImgUrl.value,
  };
  emits("event-order", orderItem, prop.items.id);
};

watch(
  () => qty.value,
  (val) => {
    if (val) {
      if (
        qty.value > 0 &&
        activeIndexImg.value != null &&
        activeIndexSize.value != null
      ) {
        handleSumTotal(prop.items);
      }
    }
  }
);
</script>

<style scoped>
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
