<template>
  <div>
    <div
      v-show="documents?.length"
      class="flex text-lg border-b-2 pb-3 font-semibold text-indigo-600 justify-start gap-4 my-2"
    >
      <div>{{ documents?.length }}</div>
      <div>Order left for checking out</div>
    </div>
    <div class="my-2">
      <div>
        <table class="w-full text-left">
          <thead>
            <tr>
              <th>No</th>
              <th>Customer</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(it, idx) in documents" :key="idx">
              <td>{{ idx + 1 }}</td>
              <td>{{ it.name }}</td>
              <td>
                {{ date(it.created.toDate()).format("dddd D, MMM, YYYY") }}
              </td>
              <td>
                <div class="flex gap-3">
                  <button
                    @click="handlePrintIvoice(it.userInfo, it.orders)"
                    class="text-indigo-600 transition-all ease-out duration-300 hover:bg-indigo-400 rounded-lg text-center px-4 py-1 hover:text-white font-semibold capitalize"
                  >
                    Invoice
                  </button>
                  <button
                    @click="handleClearOrder(it)"
                    class="text-indigo-600 transition-all ease-out duration-300 hover:bg-indigo-400 rounded-lg text-center px-4 py-1 hover:text-white font-semibold capitalize"
                  >
                    Cleare
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <component
    :is="currentComponent"
    :userInfo="userInfo"
    :order="order"
    :showId="showId"
    :shipping="shipping"
    v-model="visibleComponent"
    @close="handleCloseModal"
  ></component>
</template>

<script setup>
import { defineAsyncComponent, ref, shallowRef } from "vue";
import getCollection from "../composables/getCollection";
import moment from "moment";

// Dynamic Component
const PrintInvoice = defineAsyncComponent(() =>
  import("../components/PrintInvoice.vue")
);

const ClearOrderConfirm = defineAsyncComponent(() =>
  import("../components/ClearOrderConfirmation.vue")
);

// Declare
const date = moment;
const userInfo = ref("");
const order = ref([]);
const shipping = ref(2);
const visibleComponent = ref(false);
const currentComponent = shallowRef(null);
const showId = ref("");

const { documents, isLoading } = getCollection("orders");

// Functions
const handlePrintIvoice = (uInfo, orders) => {
  userInfo.value = uInfo;
  order.value = orders;
  visibleComponent.value = true;
  currentComponent.value = PrintInvoice;
};

const handleCloseModal = () => {
  visibleComponent.value = false;
  currentComponent.value = null;
  userInfo.value = "";
  order.value = "";
};

const handleClearOrder = (it) => {
  showId.value = it.id;
  userInfo.value = it.userInfo;
  order.value = it.orders;
  visibleComponent.value = true;
  currentComponent.value = ClearOrderConfirm;
};
</script>

<style lang="scss" scoped></style>
