<template>
  <div>
    <div class="fixed inset-0 bg-black bg-opacity-75 w-full h-[100vh]">
      <div class="w-full h-[100vh] flex justify-center items-center">
        <div class="bg-white w-[400px] h-auto rounded-lg p-4 px-4">
          <div class="flex flex-col">
            <div class="flex justify-between">
              <div class="font-semibold">Are you sure ?</div>
              <button @click="handleCloseModal" class="rounded-md">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18 18 6M6 6l12 12"
                  />
                </svg>
              </button>
            </div>
            <br />
            <div>
              <!-- payment type -->
              <div>
                <label for="payment_type">Payment Type</label>
                <input
                  v-model="paymentType"
                  type="text"
                  placeholder=""
                  class="w-full outline-none border-2 focus:border-indigo-500 rounded px-2 my-2 py-1"
                />
              </div>
              <div>
                <label for="payment_id">Payment ID</label>
                <input
                  type="text"
                  v-model="paymentId"
                  placeholder=""
                  class="w-full focus:border-indigo-500 outline-none border-2 rounded px-2 my-2 py-1"
                />
              </div>
              <div
                v-show="error"
                class="text-center text-sm font-semibold text-red-600"
              >
                {{ error + " !" }}
              </div>
            </div>

            <br />

            <div class="flex justify-between space-x-3 w-full">
              <button
                @click="handleCustomerPaid"
                class="bg-indigo-400 font-semibold transition duration-200 ease-out hover:bg-indigo-500 text-white py-2 rounded w-full"
              >
                Customer Paid
              </button>
              <button
                @click="handleCustomerCancel"
                class="rounded text-white font-semibold transition duration-200 ease-out hover:bg-red-500 bg-red-400 w-full"
              >
                Customer Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { serverTimestamp } from "firebase/firestore";
import getCollection from "../composables/getCollection";
import useCollection from "../composables/useCollection";
import { nextTick, ref } from "vue";

// Declare
const paymentType = ref();
const paymentId = ref();
const error = ref();

// Destructing
const { handleRemoveDoc } = useCollection("orders");
const { handleAddDoc } = useCollection("reports");
const { documents } = getCollection("reports");

// Props & Emits
const emits = defineEmits(["close"]);
const props = defineProps({
  showId: String,
  order: Array,
  userInfo: Array,
});

// Functions
const handleCloseModal = () => {
  emits("close");
};

const handleCustomerPaid = async () => {
  if (paymentType.value && paymentId.value) {
    error.value = "";
    const report = {
      paymentId: paymentId.value,
      paymentType: paymentType.value,
      order: props.order,
      customerInfo: props.userInfo,
      admin: props.userInfo[0].name,
      created: serverTimestamp(),
    };
    await nextTick(() => {
      handleAddDoc(report);
      handleRemoveDoc(props.showId);
      handleCloseModal();
    });
  } else {
    error.value = "Payment Type and Payment Id Must be exist";
  }
};

const handleCustomerCancel = async () => {
  await handleRemoveDoc(props.showId);
};
</script>

<style lang="scss" scoped></style>
