<template>
  <div>
    <div class="fixed inset-0 bg-black bg-opacity-75 w-full h-[100vh]">
      <div class="w-full h-[100vh] flex justify-center items-center">
        <div class="bg-white w-[400px] h-auto rounded-lg p-6 px-10">
          <div class="text-center flex flex-col">
            <div class="flex justify-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-14 text-red-500"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z"
                />
              </svg>
            </div>
            <div class="font-semibold text-lg py-2">Are you sure ?</div>
            <div>
              This will delete this item permanently. You can not undo this
              action
            </div>
            <br />
            <div class="flex justify-center gap-6">
              <button
                @click="handleCloseModal"
                class="bg-red-500 text-white px-3 rounded-md py-1 transition duration-200 hover:bg-red-600"
              >
                Cancel
              </button>
              <button
                v-if="!loading"
                @click="handleRemoveConfirm"
                class="bg-indigo-500 text-white px-3 rounded-md py-1 transition duration-200 hover:bg-indigo-600"
              >
                Confirm
              </button>
              <button
                v-else
                class="bg-indigo-500 text-white px-3 rounded-md py-1 transition duration-200 hover:bg-indigo-600"
              >
                loading...
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, watch } from "vue";

// props & emite
const emite = defineEmits(["close", "remove"]);

// declare
const loading = ref(false);

// functions
const handleCloseModal = () => {
  emite("close");
};

// confirm
const handleRemoveConfirm = () => {
  emite("remove");
};
</script>
<style lang="scss" scoped></style>
