<template>
  <div>
    <div class="xl:px-24 lg:px-24 md:px-24 bg-teal-50 text-gray-600 px-4 py-10">
      <div class="grid lg:grid-cols-4 gap-4">
        <div>
          <div class="font-bold">Customer Severice</div>
          <div
            class="font-normal transition duration-200 hover:text-indigo-500 cursor-pointer"
          >
            Help Center
          </div>
          <div
            class="font-normal transition duration-200 hover:text-indigo-500 cursor-pointer"
          >
            Report About
          </div>
          <div
            class="font-normal transition duration-200 hover:text-indigo-500 cursor-pointer"
          >
            Submit Dispute
          </div>
        </div>
        <div>
          <div class="font-bold">About US</div>
          <div
            class="font-normal transition duration-200 hover:text-indigo-500 cursor-pointer"
          >
            Help Center
          </div>
          <div
            class="font-normal transition duration-200 hover:text-indigo-500 cursor-pointer"
          >
            Report About
          </div>
        </div>
        <div>
          <div class="font-bold">Contact US</div>
          <div class="flex justify-start gap-4 py-2">
            <div>
              <a href="">
                <img src="../assets/facebook_2504903.png" alt="" class="w-6" />
              </a>
            </div>
            <div>
              <a href="">
                <img src="../assets/instagram_2111463.png" alt="" class="w-6" />
              </a>
            </div>
            <div>
              <a href="">
                <img src="../assets/twitter_3256013.png" alt="" class="w-6" />
              </a>
            </div>
          </div>
        </div>
        <div class="flex items-center gap-4">
          <div>
            <div class="pb-1">
              <a href="">
                <img src="../assets/email_3694362.png" alt="" class="w-6" />
              </a>
            </div>
            <div class="pt-1">
              <a href="">
                <img src="../assets/call_3717386.png" alt="" class="w-6" />
              </a>
            </div>
          </div>
          <div>
            <div class="pb-1">:</div>
            <div class="pt-1">:</div>
          </div>
          <div>
            <div
              class="pb-1 font-normal cursor-pointer duration-200 hover:text-indigo-600"
            >
              098734372
            </div>
            <div
              class="pt-1 font-normal cursor-pointer duration-200 hover:text-indigo-600"
            >
              John@gmail.com
            </div>
          </div>
        </div>
      </div>
      <div class="text-center pt-10 font-normal text-gray-500">
        <div>© 2024-2030 Project DR Shopping. All rights reserved.</div>
      </div>
    </div>
  </div>
</template>

<script setup></script>

<style lang="scss" scoped></style>
