<template>
  <div>
    <div
      class="grid xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-2 gap-3 px-2 lg:px-0 xl:px-0"
    >
      <div v-for="(it, idx) in documents" :key="idx" class="w-full">
        <div
          class="border-2 p-2 rounded-[12px] transition duration-200 hover:border-indigo-300 cursor-pointer"
        >
          <div class="w-[auto] h-[200px] relative">
            <img
              :src="it.images.length > 1 ? it.images[IndexImg] : it.images[0]"
              alt=""
              @click="handleChangeImage(it)"
              class="rounded-[6px] overflow-hidden w-[100%] h-[200px] object-cover"
            />
            <div
              class="absolute top-1 right-2 rounded-lg -skew-x-12 bg-red-400 text-white px-2 text-sm"
            >
              {{ it.discount + "% " + "Off" }}
            </div>
          </div>
          <div>
            <div class="font-bold pt-2 text-gray-600">{{ it.pname }}</div>
            <!-- <div>Lorem ipsum !</div> -->
            <div class="flex gap-3 py-1">
              <div v-for="(s, idx) in it.sizes" :key="idx">{{ s }}</div>
            </div>
            <div class="text-sm text-indigo-500 py-1">In Stock</div>
            <div class="flex justify-between">
              <div class="flex gap-2">
                <div class="font-semibold text-red-400 line-through">
                  {{ formatCurrency(it.price, "USD") }}
                </div>
                <div class="font-semibold text-green-600">
                  {{
                    formatCurrency(
                      it.price - (it.price * it.discount) / 100,
                      "USD"
                    )
                  }}
                </div>
              </div>
              <div>
                <button
                  @click="handleAddToCart(it)"
                  class="bg-yellow-50 p-1 rounded-full transition duration-200 hover:bg-yellow-100"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6 text-indigo-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import getCollection from "../composables/getCollection";
import useCollection from "../composables/useCollection";
import { getUser } from "../composables/getUserCollection";
import { formatCurrency } from "../composables/useCurrency";
import { useRoute, useRouter } from "vue-router";
import { serverTimestamp } from "firebase/firestore";
import { ref } from "vue";

// useRouter & useRoute
const router = useRouter();
const route = useRoute();

// Destucting
const { documents, isLoading } = getCollection("products");
const { handleAddDoc } = useCollection("carts");

// Declare
const IndexImg = ref(0);

// Functions
const handleAddToCart = async (product) => {
  if (!getUser.value) {
    router.push({ name: "Signin" });
  } else {
    const res = await handleAddDoc({
      pname: product.pname,
      sizes: product.sizes,
      images: product.images,
      discount: product.discount,
      description: product.description,
      categoryId: product.categoryId,
      price: product.price,
      created: serverTimestamp(),
    });
    if (res) {
      console.log("successed");
    }
  }
};

const handleChangeImage = (it) => {
  if (it.images.length > 1) {
    IndexImg.value++;
    if (IndexImg.value > it.images.length - 1) {
      IndexImg.value = 0;
    }
  } else {
    IndexImg.value = 0;
  }
};
</script>

<style lang="scss" scoped></style>
