<template>
  <div>
    <div class="fixed z-10 w-full bg-white">
      <div class="border-b-2 px-4 xl:px-24 lg:px-24 md:px-24">
        <div class="w-full flex bg-white justify-between items-center py-2">
          <div
            class="flex gap-2 items-center transition cursor-pointer text-gray-600"
          >
            <img
              src="../assets/logo.png"
              alt=""
              class="object-cover rounded-lg transition cursor-pointer h-8 duration-300 hover:scale-[1.1]"
              @click="handlePushRouter('Dashboard')"
            />
            <div
              @click="handlePushRouter('Dashboard')"
              class="text-xl font-mono cursor-pointer font-extrabold"
            >
              {{ t("DRshopping") }}
            </div>
          </div>
          <div v-show="windowWith > 640">
            <div class="flex items-center px-2 rounded-lg gap-2">
              <input
                @keypress.enter="handleSearch"
                type="text"
                v-model="searchBox"
                class="outline-none border-2 px-2 rounded-lg py-1 w-[300px] border-indigo-400"
                placeholder="Search By Category"
              />
            </div>
          </div>
          <div class="flex items-center gap-2">
            <button
              v-if="!getUser"
              @click="handlePushRouter('Signin')"
              class="text-indigo-600 transition duration-300 hover:text-indigo-700 px-2 py-1 rounded-md"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9"
                />
              </svg>
            </button>

            <div class="flex items-center gap-2" v-else>
              <!-- lang -->
              <div class="relative group">
                <button
                  class="text-indigo-600 transition duration-300 hover:text-indigo-700 px-2 py-1 rounded-md"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418"
                    />
                  </svg>
                </button>
                <div
                  class="absolute hidden ease-out duration-300 -right-4 transition-all group-hover:block cursor-pointer bg-white border rounded-lg p-2"
                >
                  <div class="w-16">
                    <div
                      :class="locale === 'kh' ? 'bg-indigo-500 text-white' : ''"
                      @click="handleChangeLang('kh')"
                      class="px-2 transition duration-200 ease-out rounded-md"
                    >
                      KH
                    </div>
                    <div
                      @click="handleChangeLang('en')"
                      :class="locale === 'en' ? 'bg-indigo-500 text-white' : ''"
                      class="px-2 transition duration-200 ease-out rounded-md"
                    >
                      EN
                    </div>
                  </div>
                </div>
              </div>

              <!-- checkout order -->
              <button
                @click="handlePushRouter('CheckoutOrder')"
                class="text-indigo-600 relative transition duration-300 hover:text-indigo-700 px-2 py-1 rounded-md"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0"
                  />
                </svg>
                <span
                  v-if="orders?.length > 0"
                  class="bg-red-500 rounded-full absolute px-2 -top-2 text-white text-center scale-[0.6]"
                >
                  <span>{{ orders?.length }}</span>
                </span>
                <span
                  v-else
                  class="bg-red-500 rounded-full absolute px-2 -top-2 text-white text-center scale-[0.6]"
                >
                  <span>0</span>
                </span>
              </button>

              <!-- Add to carts -->
              <button
                @click="handlePushRouter('CardDetails')"
                class="text-indigo-600 relative transition duration-300 hover:text-indigo-700 px-2 py-1 rounded-md"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
                  />
                </svg>
                <span
                  v-if="carts?.length > 0"
                  class="bg-red-500 rounded-full absolute px-2 -top-2 text-white text-center scale-[0.6]"
                >
                  <span>{{ carts.length }}</span>
                </span>
                <span
                  v-else
                  class="bg-red-500 rounded-full absolute px-2 -top-2 text-white text-center scale-[0.6]"
                >
                  <span>0</span>
                </span>
              </button>

              <div>
                <div>
                  <div
                    class="relative group ease-out duration-300 transition-all w-7 h-7 bg-indigo-600 flex justify-center items-center rounded-full cursor-pointer hover:bg-indigo-900"
                  >
                    <span class="text-sm text-white uppercase">
                      {{ getUser.displayName[0] }}
                    </span>
                    <div class="absolute top-6 w-[40px] h-[20px]"></div>
                    <!-- dropdown -->
                    <div
                      class="absolute hidden ease-out duration-300 transition-all group-hover:block top-10 -right-10 bg-white border rounded-lg w-60 p-4"
                    >
                      <div class="flex items-center gap-2 border-b pb-3 mb-2">
                        <div>
                          <div
                            class="w-8 h-8 rounded-full text-center bg-indigo-600 text-white"
                          >
                            {{ getUser.displayName[0] }}
                          </div>
                        </div>
                        <div>
                          {{ getUser.email }}
                        </div>
                      </div>
                      <div
                        class="py-1 text-sm font-normal duration-300 transition hover:text-indigo-600"
                      >
                        Account Setting
                      </div>
                      <div
                        class="py-1 text-sm font-normal duration-300 transition hover:text-indigo-600"
                      >
                        Clear History
                      </div>
                      <div
                        class="py-1 text-sm font-normal duration-300 transition hover:text-indigo-600"
                      >
                        Puchase History
                      </div>
                      <div class="pt-4 text-center">
                        <div
                          @click="handleSignOutFn"
                          class="text-white rounded-md py-1 bg-slate-800 font-normal transition duration-300 hover:bg-slate-600"
                        >
                          {{ t("Log_out") }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-indigo-500">
        <sub-navbar></sub-navbar>
      </div>
    </div>
  </div>
</template>

<script setup>
import { onMounted, ref, watch } from "vue";
import { getUser, handleSignOut } from "../composables/getUserCollection";
import SubNavbar from "./SubNavbar.vue";
import { useRouter } from "vue-router";
import getCollection from "../composables/getCollection";
import { useI18n } from "vue-i18n";

// useLang
const { t, locale } = useI18n();

// useRouter
const router = useRouter();

// Destructing
const { documents: carts, isLoading } = getCollection("carts");
const { documents: Categories } = getCollection("categories");
const { documents: orders } = getCollection("orders");

// Declare
const searchBox = ref("");

// Functions
const handleChangeLang = (lang) => {
  locale.value = lang;
  console.log("The language was changed");
};

const handleSearch = () => {
  if (!searchBox.value) {
    router.push({ name: "Dashboard" });
    console.log("value not exist");
  } else {
    let categoryName;
    Categories.value.forEach((it) => {
      if (it.name.toLowerCase().includes(searchBox.value)) {
        categoryName = it.name;
        if (categoryName) {
          router.push({ name: "CategoryDetail", params: { id: it.id } });
        }
      }
    });
  }
};

const handleSignOutFn = async () => {
  await handleSignOut();
  router.push({ name: "Signin" });
};

const handlePushRouter = (it) => {
  router.push({ name: it });
};

const windowWith = ref(window.innerWidth);
const handleResize = () => {
  windowWith.value = window.innerWidth;
};

watch(
  () => searchBox.value,
  (val) => {
    if (val === "") {
      router.push({ name: "Dashboard" });
    }
  }
);

onMounted(() => {
  window.addEventListener("resize", handleResize);
});
</script>

<style lang="scss" scoped></style>
