<template>
  <div>
    <div class="flex justify-center gap-6 items-center pt-14 pb-4">
      <div class="flex justify-center items-center gap-2">
        <div>
          <button
            :disabled="pagination.index === 1"
            :class="
              pagination.index === 1
                ? 'cursor-not-allowed opacity-50 '
                : ' hover:bg-gray-100'
            "
            @click="handlePreviousPage"
            class="border-2 rounded-full p-1 transition duration-200"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 19.5 8.25 12l7.5-7.5"
              />
            </svg>
          </button>
        </div>
        <div class="flex gap-3 justify-center items-center text-center">
          <span
            v-for="(it, idx) in products.length"
            :key="idx"
            v-show="it >= pagination.start && it < pagination.end"
            class="text-center py-1 px-3 cursor-pointer transition duration-300 hover:bg-gray-200 rounded-full"
            :class="
              it === pagination.index ? ' bg-blue-400 text-white' : 'bg-white'
            "
          >
            {{ it }}
          </span>
        </div>
        <div class="flex items-center">
          <button
            @click="handleNextPage()"
            :disabled="pagination.next >= products.length"
            :class="
              pagination.next >= products.length
                ? 'cursor-not-allowed opacity-50 '
                : ' hover:bg-gray-100'
            "
            class="border-2 rounded-full p-1 transition duration-200 hover:bg-gray-100"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m8.25 4.5 7.5 7.5-7.5 7.5"
              />
            </svg>
          </button>
        </div>
      </div>
      <div
        class="flex justify-center font-mono text-gray-600 items-center gap-2"
      >
        <div class="text-sm">Total :</div>
        <div>
          {{ products.length }}
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";

// props and emite
const props = defineProps({
  products: Array,
});

const emits = defineEmits(["event-page"]);

// pagination
const pagination = ref({
  start: 1,
  end: 4,
  next: 4,
  previous: 0,
  total: 0,
  index: 1,
});

// functions

const handleNextPage = () => {
  pagination.value.next += 4;
  pagination.value.previous += 4;
  pagination.value.index++;
  emits("event-page", pagination.value.previous, pagination.value.next);
  console.log("next", pagination.value);
};

const handlePreviousPage = () => {
  if (pagination.value.end > 4) {
    pagination.value.start--;
    pagination.value.end--;
  }
  pagination.value.next -= 4;
  pagination.value.previous -= 4;
  pagination.value.index--;
  emits("event-page", pagination.value.previous, pagination.value.next);
};
</script>

<style lang="scss" scoped></style>
