<template>
  <div class="fixed inset-0 z-10 bg-black bg-opacity-75 w-[100%] h-[100vh]">
    <div class="w-full h-[100vh] flex justify-center items-center">
      <div class="bg-white rounded-lg p-4">
        <div class="flex justify-between items-center">
          <div>
            <button
              @click="handleModalClose"
              class="bg-gray-100 p-1 rounded-md transition ease-out duration-300 active:bg-gray-200"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18 18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
          <div>
            <button
              @click="handlePrint"
              class="bg-sky-500 text-white p-1 rounded-md transition ease-out duration-300 active:bg-sky-600"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0 1 10.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0 .229 2.523a1.125 1.125 0 0 1-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0 0 21 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 0 0-1.913-.247M6.34 18H5.25A2.25 2.25 0 0 1 3 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 0 1 1.913-.247m10.5 0a48.536 48.536 0 0 0-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5Zm-3 0h.008v.008H15V10.5Z"
                />
              </svg>
            </button>
          </div>
        </div>
        <!-- content -->
        <div id="print-invoice" class="w-full">
          <div
            class="flex border-b-2 py-2 justify-between text-indigo-500 font-medium"
          >
            <div class="flex items-center gap-2">
              <div>
                <img src="../assets/logo.png" class="h-10 w-10" alt="" />
              </div>
              <div class="text-lg font-bold">DR Shopping</div>
            </div>
            <div>
              <div class="text-amber-500">{{ today }}</div>
              <div>Ivoice {{ invoicesNo }}</div>
            </div>
          </div>
          <!-- Middle -->
          <div>
            <table class="w-full">
              <tbody class="text-gray-500">
                <tr>
                  <td class="pl-10 w-80 font-bold">Supplier</td>
                  <td class="pl-10 w-80 font-bold">Customer</td>
                </tr>
                <tr>
                  <td class="pl-10 w-80 text-indigo-600 font-bold">
                    DR Shopping
                  </td>
                  <td class="pl-10 w-80 text-indigo-600 font-bold">
                    {{ userInfo[0].name }}
                  </td>
                </tr>

                <tr>
                  <td class="pl-10 pb-3 w-80" colspan="2">
                    <div class="flex justify-end gap-4">
                      <div class="flex items-center gap-2">
                        <div>
                          <img
                            src="https://cdn-icons-png.flaticon.com/512/2111/2111646.png"
                            alt=""
                            class="w-4 gap-2"
                          />
                        </div>
                        <div>{{ userInfo[0].telegram }}</div>
                      </div>
                      <div class="flex items-center gap-2">
                        <div>
                          <img
                            src="https://cdn-icons-png.flaticon.com/512/4367/4367049.png"
                            alt=""
                            class="w-4 gap-2"
                          />
                        </div>
                        <div>{{ userInfo[0].phone }}</div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- content -->
          <div class="border-b-2 py-2">
            <div>
              <table class="w-full text-gray-500">
                <thead class="bg-indigo-500 text-white">
                  <th colspan="2">Item</th>
                  <th>Price</th>
                  <th>Qty</th>
                  <th>Discount</th>
                  <th>Total</th>
                </thead>
                <tbody class="text-center">
                  <tr v-for="(it, idx) in order" :key="idx">
                    <td class="flex justify-center">
                      <img :src="it.image" class="h-10 w-10" alt="" />
                    </td>
                    <td>{{ it.name }}</td>
                    <td class="font-bold text-sm">
                      {{ formatCurrency(it.price, "USD") }}
                    </td>
                    <td>{{ it.qty }}</td>
                    <td>{{ it.discount + "%" }}</td>
                    <td class="font-bold text-sm">
                      {{
                        formatCurrency(
                          it.price - (it.price * it.discount) / 100,
                          "USD"
                        )
                      }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- sub Total -->
          <div class="flex justify-end">
            <div>
              <div class="flex justify-end gap-3 text-gray-600">
                <div class="font-semibold">SubTotal :</div>
                <div>{{ formatCurrency(subtotal, "USD") }}</div>
              </div>
              <div class="flex justify-end gap-3 text-gray-600">
                <div class="font-semibold">Shipping :</div>
                <div>{{ formatCurrency(shipping, "USD") }}</div>
              </div>
              <div class="flex justify-end gap-3 font-bold text-indigo-600">
                <div>Total :</div>
                <div>{{ formatCurrency(total, "USD") }}</div>
              </div>
            </div>
          </div>
          <br />

          <!-- footer -->
          <div>
            <div class="flex justify-around">
              <div class="flex">
                <div class="flex gap-2 items-center">
                  <div class="flex items-center">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Facebook_Logo_2023.png"
                      alt=""
                      class="w-5 h-5 object-cover"
                    />
                  </div>
                  <div class="text-sm">
                    <div class="text-nowrap">DR Shopping</div>
                  </div>
                </div>
              </div>
              <div class="flex">
                <div class="flex gap-2 items-center">
                  <div>
                    <img
                      src="https://cdn-icons-png.flaticon.com/512/2111/2111646.png"
                      alt=""
                      class="w-5 h-5 object-cover"
                    />
                  </div>
                  <div>098745637</div>
                </div>
              </div>
              <div class="flex">
                <div class="flex gap-2 items-center">
                  <div>
                    <img
                      src="https://cdn-icons-png.flaticon.com/512/4367/4367049.png"
                      alt=""
                      class="w-5 h-5 object-cover"
                    />
                  </div>
                  <div>098475838</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, watch } from "vue";
import { formatCurrency } from "../composables/useCurrency";
import getCollection from "../composables/getCollection";
import printJS from "print-js";
import moment from "moment";
import useCollection from "../composables/useCollection";
import { serverTimestamp } from "firebase/firestore";

// destructing
const { documents, isLoading } = getCollection("invoices");
const { handleAddDoc } = useCollection("orders");
const { handleRemoveDoc } = useCollection("carts");

// defineProps and defineEmite
const props = defineProps({
  userInfo: Array,
  order: Array,
  shipping: Number,
  cartId: String,
});

const emits = defineEmits(["close"]);

// declare
const subtotal = ref(0);
const total = ref(0);
const invoicesNo = ref(1);
const today = moment().format("dddd Do, MMM, YYYY");

// functions
const handlePrint = async () => {
  const res = await handleAddDoc({
    name: props.userInfo[0].name,
    userInfo: props.userInfo,
    orders: props.order,
    subTotal: subtotal.value,
    total: total.value,
    created: serverTimestamp(),
  });
  await handleRemoveDoc(props.cartId);
  if (res) {
    printJS({
      printable: "print-invoice",
      type: "html",
      targetStyles: ["*"],
    });
  }
};

const handleModalClose = () => {
  emits("close");
};

watch(
  () => documents.value,
  (val) => {
    if (val) {
      if (val.length <= 0) {
        invoicesNo.value = "000" + invoicesNo.value;
      } else {
        if (val.length > 10) {
          invoicesNo.value = "000" + invoicesNo.value;
        } else if (val.length < 100) {
          invoicesNo.value = "00" + invoicesNo.value;
        } else if (val.length < 1000) {
          invoicesNo.value = "0" + invoicesNo.value;
        } else {
          invoicesNo.value;
        }
      }
    }
  }
);

watch(
  () => props.order,
  (val) => {
    if (val.length > 0) {
      for (let x of val) {
        subtotal.value += x.price - ((x.price * x.discount) / 100) * x.qty;
      }
      total.value = subtotal.value + props.shipping;
    }
  },
  { immediate: true }
);
</script>

<style scoped></style>
