<template>
  <div>
    <vueper-slides>
      <vueper-slide
        fade
        :autoplay="true"
        class="shadow-none"
        v-for="(slide, i) in listSlide"
        :key="i"
        :image="slide.image"
      />
    </vueper-slides>
  </div>
</template>

<script setup>
import { VueperSlides, VueperSlide } from "vueperslides";
import "vueperslides/dist/vueperslides.css";

import image1 from "../assets/23404765_6744687.jpg";
import image2 from "../assets/23673830_6846582.jpg";
import image3 from "../assets/23988605_6876764.jpg";
import image4 from "../assets/24445605_6915876.jpg";

// declare
const listSlide = [
  { image: image1 },
  { image: image2 },
  { image: image3 },
  { image: image4 },
];
</script>

<style lang="scss" scoped></style>
