<template>
  <div>
    <div class="flex justify-center py-1 text-sm font-normal">
      <div
        class="relative group px-6 py-2 duration-300 hover:bg-indigo-700 rounded-xl cursor-pointer"
      >
        <span
          class="text-white capitalize"
          :class="
            categorySubNavbarName !== 'Categories'
              ? 'text-yellow-300 underline'
              : 'text-white'
          "
          >{{ t("Category") }}</span
        >
        <div
          class="absolute hidden group-hover:block top-9 -right-12 bg-white border w-60 h-[auto] p-4 rounded-md"
        >
          <div
            class="cursor-pointer capitalize mt-1"
            v-for="(item, idx) in documents"
            @click="handleDetailPushRouter(item.id, item.name)"
            :key="idx"
          >
            <div
              :class="
                route.params.id === item.id
                  ? 'px-2 p-1 rounded-lg bg-indigo-600 text-white font-normal'
                  : 'px-2 p-1 transition duration-200 hover:bg-gray-200 rounded-lg font-normal'
              "
            >
              {{ item.name }}
            </div>
          </div>
          <div
            @click="handlePushRouter('Category')"
            class="cursor-pointer p-1 mt-1 transition duration-200 border-2 px-2 rounded-md"
          >
            Categories
          </div>
        </div>
      </div>
      <div
        class="relative group px-6 py-2 duration-300 hover:bg-indigo-700 rounded-xl cursor-pointer"
      >
        <span class="text-white">{{ t("Create_Category") }}</span>
        <div
          class="absolute hidden group-hover:block w-60 top-9 -right-12 p-4 rounded-md bg-white border h-[auto]"
        >
          <div class="my-2">
            <input
              v-model="categoryName"
              type="text"
              placeholder="category name"
              class="border-2 py-1 my-1 w-full outline-none rounded-md px-2 focus:border-indigo-500"
            />
          </div>
          <div>
            <input
              type="file"
              @change="handleChange"
              placeholder="Add category"
              class="w-52 py-1"
            />
            <div class="text-center text-red-500 font-normal">
              {{ getError }}
            </div>
          </div>
          <div class="my-2 flex justify-center">
            <button
              v-if="!isLoading"
              @click="handleSubmit"
              class="bg-indigo-500 w-full rounded-sm text-white py-1 px-10 transition duration-300 hover:bg-indigo-700"
            >
              {{ t("Submit") }}
            </button>
            <button
              v-else
              class="bg-indigo-500 w-full rounded-sm text-white py-1 px-10 transition duration-300 hover:bg-indigo-700"
            >
              loading...
            </button>
          </div>
        </div>
      </div>
      <div
        class="relative group px-6 py-2 duration-300 hover:bg-indigo-700 rounded-xl cursor-pointer"
      >
        <span class="text-white">{{ t("Promote") }}</span>
        <div
          class="absolute hidden group-hover:block w-60 top-9 -right-12 p-4 rounded-md bg-white border h-[auto]"
        >
          <div class="my-2">
            <input
              type="text"
              placeholder="email"
              class="border-2 py-1 my-1 outline-none rounded-md w-full px-2 focus:border-indigo-500"
            />
          </div>

          <div class="my-2 flex justify-center">
            <button
              class="bg-indigo-500 w-full rounded-sm text-white py-1 px-10 transition duration-300 hover:bg-indigo-700"
            >
              {{ t("Promote") }}
            </button>
          </div>
        </div>
      </div>
      <div
        class="px-6 py-2 text-white duration-300 hover:bg-indigo-700 rounded-xl cursor-pointer"
      >
        <button @click="handlePushRouteReport">{{ t("Reports") }}</button>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
import useCollection from "../composables/useCollection";
import { handleUploadImage, getUrl } from "../composables/useStorage";
import { serverTimestamp } from "firebase/firestore";
import getCollection from "../composables/getCollection";
import { useRoute, useRouter } from "vue-router";
import { useStore } from "../store";
import { projectAuth } from "../firebase/config";

import { useI18n } from "vue-i18n";

// useLang
const { t } = useI18n();

// useStore
const store = useStore();
const { handleSetValueCategory } = store;

// destructing
const { documents } = getCollection("categories");
const { handleAddDoc } = useCollection("categories");

// useRouter
const router = useRouter();
const route = useRoute();

// declare
const isLoading = ref(false);
const categorySubNavbarName = ref("Categories");
const categoryName = ref("");
const selected = ref("");
const getError = ref("");
const limitedSize = ref(1024 * 1024);
const type = ref(["image/jpeg", "image/png", "image/jpg", "image/svg"]);

// const currentUser = projectAuth.currentUser; check current user

// functions

const handleResetForm = () => {
  categoryName.value = "";
  selected.value = "";
};

const handlePushRouter = async (it) => {
  router.push({ name: it });
  categorySubNavbarName.value = "Categories";
};

const handlePushRouteReport = () => {
  router.push({ name: "ListReport" });
};

const handleDetailPushRouter = async (id, name) => {
  router.push({ name: "CategoryDetail", params: { id } });
  await handleSetValueCategory(id);
  categorySubNavbarName.value = name;
};

const handleChange = async (e) => {
  selected.value = e.target.files[0];
  if (e.target.files[0].size > limitedSize.value) {
    getError.value = "image <= 1MB";
    selected.value = null;
    console.log("errorValue:", getError.value);
  } else {
    if (selected.value && type.value.includes(selected.value.type)) {
      getError.value = "";
      return selected.value;
    } else {
      getError.value = "TYPES ALLOW JPEG JPG PNG SVG";
      selected.value = null;
    }
  }
};

const handleSubmit = async () => {
  isLoading.value = true;
  if (selected.value && categoryName.value) {
    try {
      const res = await handleUploadImage(selected.value);
      if (res) {
        await handleAddDoc({
          name: categoryName.value,
          image: getUrl.value,
          created: serverTimestamp(),
        });
        isLoading.value = false;
      }
    } catch (error) {
      getError.value = error.message;
      console.log("error", error.message);
      isLoading.value = false;
    }
    handleResetForm();
  } else {
    getError.value = "Please check name or file";
    console.log(getError.value);
    isLoading.value = false;
  }
};
</script>

<style lang="scss" scoped></style>
