<template>
  <div>
    <div>
      <Slide></Slide>
    </div>
    <div class="flex justify-center py-10">
      <div class="text-lg">Welcom</div>
    </div>
    <div>
      <list-card></list-card>
    </div>
  </div>
</template>

<script setup>
import Slide from "../components/Slide.vue";
import ListCard from "../components/ListCard.vue";
</script>

<style lang="scss" scoped></style>
