<template>
  <div>
    <Navbar></Navbar>
    <div class="pt-24 xl:px-24 lg:px-24 md:px-24">
      <div class="py-6">
        <router-view class="h-auto"></router-view>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script setup>
import Navbar from "../components/Navbar.vue";
import Footer from "../components/Footer.vue";
</script>

<style lang="scss" scoped></style>
