<template>
  <div>
    <div class="w-auto flex justify-center items-center">
      <div
        style="
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        "
        class="px-10 bg-white py-8 rounded-lg w-[400px] flex flex-col gap-3"
      >
        <div class="text-center font-medium text-indigo-500">Sign Up Form</div>
        <!-- Form Data -->
        <div class="flex items-center gap-2 w-full">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
              />
            </svg>
          </div>
          <div class="w-full">
            <input
              v-model="form.name"
              class="border-2 rounded-md p-1 w-full"
              placeholder="Username"
              type="text"
            />
          </div>
        </div>
        <div class="flex items-center gap-2">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
              />
            </svg>
          </div>
          <div class="w-full">
            <input
              v-model="form.email"
              class="border-2 rounded-md p-1 w-full"
              placeholder="Email"
              type="text"
            />
          </div>
        </div>
        <div class="flex items-center gap-2">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z"
              />
            </svg>
          </div>
          <div class="w-full">
            <input
              v-model="form.password"
              class="border-2 rounded-md p-1 w-full"
              placeholder="Password"
              type="password"
            />
          </div>
        </div>

        <div class="flex items-center gap-2">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z"
              />
            </svg>
          </div>
          <div class="w-full">
            <input
              v-model="form.phone"
              class="border-2 rounded-md p-1 w-full"
              placeholder="Phone Number"
              type="number"
            />
          </div>
        </div>

        <div class="flex items-center gap-2">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="25"
              height="25"
              viewBox="0 0 50 50"
            >
              <path
                d="M25,2c12.703,0,23,10.297,23,23S37.703,48,25,48S2,37.703,2,25S12.297,2,25,2z M32.934,34.375	c0.423-1.298,2.405-14.234,2.65-16.783c0.074-0.772-0.17-1.285-0.648-1.514c-0.578-0.278-1.434-0.139-2.427,0.219	c-1.362,0.491-18.774,7.884-19.78,8.312c-0.954,0.405-1.856,0.847-1.856,1.487c0,0.45,0.267,0.703,1.003,0.966	c0.766,0.273,2.695,0.858,3.834,1.172c1.097,0.303,2.346,0.04,3.046-0.395c0.742-0.461,9.305-6.191,9.92-6.693	c0.614-0.502,1.104,0.141,0.602,0.644c-0.502,0.502-6.38,6.207-7.155,6.997c-0.941,0.959-0.273,1.953,0.358,2.351	c0.721,0.454,5.906,3.932,6.687,4.49c0.781,0.558,1.573,0.811,2.298,0.811C32.191,36.439,32.573,35.484,32.934,34.375z"
              ></path>
            </svg>
          </div>
          <div class="w-full">
            <input
              v-model="form.telegram"
              class="border-2 rounded-md p-1 w-full"
              placeholder="telegram"
              type="text"
            />
          </div>
        </div>

        <!--handleSignUp-->
        <div class="flex justify-end">
          <button
            v-if="!isPending"
            @click="handleRegisterSignUp"
            class="bg-indigo-500 transition duration-300 hover:bg-indigo-700 px-3 py-1 text-white rounded-md"
          >
            Submit
          </button>
          <button
            v-else
            class="bg-indigo-500 cursor-not-allowed transition duration-300 px-3 py-1 text-white rounded-md"
          >
            loading...
          </button>
        </div>
        <div class="text-center text-amber-600">
          <button @click="handleRouter" class="font-normal" v-if="!isPending">
            Login
          </button>
          <button
            @click="handleRouter"
            class="font-normal text-amber-300"
            v-else
          >
            Login
          </button>
        </div>
        <div v-if="error" class="flex justify-center">
          {{ error }}
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
import { useRouter } from "vue-router";
import useCollection from "../composables/useCollection";
import { handleSignUp, error, isPending } from "../composables/useSignUp";

const { handleSetDoc } = useCollection("users");
const router = useRouter();

const handleRouter = () => {
  router.push({ name: "Signin" });
};

const form = ref({
  name: "",
  email: "",
  password: "",
  telegram: "",
  phone: "",
});

const handleResetForm = () => {
  form.value.name = "";
  form.value.email = "";
  form.value.password = "";
  form.value.telegram = "";
  form.value.phone = "";
};

const handleRegisterSignUp = async () => {
  const res = await handleSignUp(form.value);
  if (res) {
    await handleSetDoc(res.user.uid, {
      email: form.value.email,
      password: form.value.password,
      name: form.value.name,
      phone: form.value.phone,
      telegram: form.value.telegram,
    });
    handleResetForm();
    router.push({ name: "Dashboard" });
  }
};
</script>

<style lang="scss" scoped></style>
