<template>
  <div>
    <div class="py-10">
      <div class="w-auto flex justify-center items-center">
        <div
          style="
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
              rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          "
          class="px-10 py-8 bg-white rounded-lg w-[400px] flex flex-col gap-3"
        >
          <div class="text-center font-medium text-indigo-500">
            Sign In Form
          </div>
          <!-- //////// -->
          <div class="flex items-center gap-2">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
                />
              </svg>
            </div>
            <div class="w-full">
              <input
                v-model="form.email"
                class="border-2 rounded-md p-1 w-full"
                placeholder="Email"
                type="text"
              />
            </div>
          </div>
          <div class="flex items-center gap-2">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z"
                />
              </svg>
            </div>
            <div class="w-full">
              <input
                v-model="form.password"
                class="border-2 rounded-md p-1 w-full"
                placeholder="Password"
                type="number"
              />
            </div>
          </div>
          <!-- //////// -->
          <div v-show="error" class="text-center text-sm text-red-500">
            please check your email or password!
          </div>
          <div class="flex justify-end">
            <button
              @click="handleLogin"
              class="bg-indigo-500 transition duration-300 hover:bg-indigo-700 px-3 py-1 text-white rounded-md"
            >
              Log in
            </button>
          </div>
          <div class="text-center text-amber-600">
            <button @click="handleRouter" class="font-normal">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useRoute, useRouter } from "vue-router";
import { handleSignIn, error, isPending } from "../composables/useSignIn";
import { nextTick, ref } from "vue";

const router = useRouter();
const route = useRoute();

// form
const form = ref({
  email: "",
  password: "",
});

// functions
const handleRouter = () => {
  router.push({ name: "Signup" });
};

const handleResetForm = () => {
  form.value.email = "";
  form.value.password = "";
};

const handleLogin = async () => {
  const res = await handleSignIn(form.value);
  if (res) {
    handleResetForm();
    router.push({ name: "Dashboard" });
  }
};
</script>

<style lang="scss" scoped></style>
